:root{
    --background-blur: rgba(0, 0, 0, 0.65);
    --text-colour: white;
    --containerMargin: 2em 0;
}

body {
    margin: 0;
    background-color: black;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    color: var(--text-colour);
    background: url('./background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main {
    background-color: var(--background-blur);
    margin: var(--containerMargin);
    padding: 0 10vw;
    flex: 1;
}

#chef-image {
    max-height: 500px;
    border-radius: 50%;
}

.header {
    background-color: var(--background-blur);
    width: 100%;
    padding: 4vh 0;
}

.footer {
    background-color: var(--background-blur);
    width: 100%;
}