#content {
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    height: 100vh;
    justify-items: center;
    background: url('./background.jpg');
}

#main {
    flex-grow: 0;
    max-width: 50%;
}

#chef-image {
    height: 600px;
}

.footer {
    position: bottom;
}